*{
    box-sizing: border-box;
}

nav{
    background-color: #276615;
}

.logo{
    width: 15%;
}


.modal-background{
    background-color: #9F9F9F;
}


.select-width{
    width: 55%;
}

.cajas{
    background-color: #276615;
    border-left: 0.1rem solid #9F9F9F;
    padding: 1rem;
    font-size: large;
    text-align: center;
}

.bordes-lados{
    border-right: 1px solid #9F9F9F;
    border-left: 1px solid #9F9F9F;

}

.familia{
    font-family: 'Courier New', Courier, monospace;
    
}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.newsletter-input{
    width: 50%;
}

.footer{
    background-color: #276615;
}




@media (max-width: 767.98px){

    .select-width{
        width: 100%;
    }

    .cajas{
        border-left: 0;
        border-bottom: 0.1rem solid #9F9F9F;
        text-align: center;
    }

}



@media (min-width: 767.99px){
    .logo{
        width: 8%;
    }
}
