*{
    box-sizing: border-box;
}

nav{
    background-color: #276615;
}

.logo{
    width: 35%;
}


.modal-background{
    background-color: #9F9F9F;
}

.bi-cart:hover, .bi-person-circle:hover{
    color: #fff;
}
